html,
body {
  margin: 0;
  width: 100vw;
  background-color: rgb(255, 196, 0);
  height:600vh;
}
#img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: relative;
  left:0;
  
}
#centerBox{
    position:fixed;
    width: 100vw;
    display: flex;
    flex-direction: flex-end;
}
#body{

}